<app-nav></app-nav>

<mat-card fxLayout="column" fxLayoutAlign="start center">
  <h2 *ngIf="!customer?.id">Add</h2>
  <h2 *ngIf="customer?.id">Edit: #{{customer.id}}</h2>
    
  <form fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center" (ngSubmit)="onSubmit()" #customerForm="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput name="name" required type="text" [(ngModel)]="customer.name" #nameField="ngModel">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput name="country" required type="text" [(ngModel)]="customer.country" #countryField="ngModel">
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid">Save</button>
  </form>
</mat-card>
