
	<ng-container orHeaderTitle>Punix</ng-container>
	<ul class="navbar-nav navbar-controls ml-sm-auto" role="menu" orHeaderControls>
		<li class="nav-item" role="menuitem">
			<a href=""
			   class="nav-link control-link"
			   ngbTooltip="Go to Punix GIT repository" placement="left">
				<span class="control-icon fa fa-bitbucket"></span>
				<span class="control-label d-layout-collapsed">GIT</span>
			</a>
		</li>
	</ul>
	<ng-container orFooterInfo>
		<p class="small">&copy; 2019 {{'i18n.application.organization.name' | translate}}</p>
	</ng-container>

