<div class="default-layout">
	<div class="headline headline-lg">
		<h1 class="punix">
			<span class="vendor-logo punix-logo">
				<img src="./assets/images/punix-logo.png" alt="{{'i18n.application.longName' | translate}}">
			</span>
			<span class="badge badge-default">SEED</span>
			<span class="sr-only">Punix</span>
		</h1>
		<p class="lead">{{'i18n.application.description' | translate}}</p>
		<p>
			<span>punix</span>
			<span> - </span>
		</p>
	</div>
	<div class="container">
		<p class="lead text-center display-4">Please check our online <a href="http://punix.ch">documentation</a>.</p>
		<p class="mb-0 mt-5">This template includes:</p>
		<ul>
			<li>An default integration of </li>
			<li>An example of Notification</li>
			<li>An example of a lazy loaded module</li>
		</ul>
	</div>
</div>
